<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../CSS/index.css" rel="stylesheet" />
    <link href="../CSS/loadData.css" rel="stylesheet" />
    <link href="../CSS/header.css" rel="stylesheet" />
    <link href="../CSS/menu.css" rel="stylesheet" />
    <link href="../CSS/libraries/jquery-ui.css" rel="stylesheet" />
    <link href="../CSS/content.css" rel="stylesheet" />
    <link href="../CSS/table.css" rel="stylesheet" />
    <link href="../CSS/input.css" rel="stylesheet" />

</head>
<body>
    <!--Phần header-->
    <div class="header">
        <div class="header-left">
            <select class="header-left-select">
                <option>Đại dương xanh</option>
                <option>Nhà hàng biển đông</option>
            </select>
        </div>
        <div class="header-right">
            <select class="header-right-select">
                <option>Tiếng Việt (Tiếng Việt)</option>
                <option>English (US)</option>
                <option>English (UK)</option>
            </select>
            <div class="icon-web"></div>
            <div class="call"></div>
            <div class="admin"></div>
            <div class="div-span">
                <span>Trần Văn Định</span>
            </div>
            <div class="arrow-down"></div>
        </div>
    </div>
    <!--Phần menu-->
    <div class="menu">
        <div class="logo">
            <div class="icon icon-logo"></div>
            <span>CUKCUK</span>
        </div>
        <div class="menu-items">
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-1"></div>
                <div class="menu-item-text">
                    <span>Tổng quan</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-2"></div>
                <div class="menu-item-text">
                    <span>Báo cáo</span>
                </div>
                <div class="arrow-down-b b1"></div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-3"></div>
                <div class="menu-item-text">
                    <span>Mua hàng</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-4"></div>
                <div class="menu-item-text">
                    <span>Kho</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-5"></div>
                <div class="menu-item-text">
                    <span>Quỹ tiền mặt</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-6"></div>
                <div class="menu-item-text">
                    <span>Quỹ tiền gửi</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-7"></div>
                <div class="menu-item-text">
                    <span>Chi phí</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-8"></div>
                <div class="menu-item-text">
                    <span>Khuyến mại</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-9"></div>
                <div class="menu-item-text">
                    <span>Thực dơn</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-10"></div>
                <div class="menu-item-text">
                    <span>Danh mục</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-11"></div>
                <div class="menu-item-text">
                    <span>Hủy hóa đơn</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-12"></div>
                <div class="menu-item-text">
                    <span>SMS Marketing</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-13"></div>
                <div class="menu-item-text">
                    <span>Đối tác giao hàng</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-14"></div>
                <div class="menu-item-text">
                    <span>Hóa đơn điện tử</span>
                </div>
                <div class="arrow-down-b"></div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-15"></div>
                <div class="menu-item-text">
                    <span>Thiết lập hệ thống</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-16"></div>
                <div class="menu-item-text">
                    <span>Trợ giúp</span>
                </div>
                <div class="arrow-down-b b2"></div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-17"></div>
                <div class="menu-item-text">
                    <span>Thuê bao</span>
                </div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icons icon-18"></div>
                <div class="menu-item-text">
                    <span>5Food</span>
                </div>
            </div>
        </div>


    </div>
    <!--Phần content-->
    <div class="content">
        <div class="contain">
            <div class="title">
                <p>Danh mục</p>
                <div class="right-arrow"></div>
                <span class="kh">Khách hàng</span>
                <div class="title-right">
                    <div class="back-ft"><span>Quay lại thiết lập ban đầu</span></div>
                    <div class="feedback">
                        <div class="tb"></div>
                        <div>
                            <span>Phản hồi</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <button class="add toolbar-item">
                    <div class="icon-add icons"></div>
                    <div>
                        <span>Thêm</span>
                    </div>
                </button>
                <button class="duplicate toolbar-item" disabled>
                    <div class="icon-duplicate icons"></div>
                    <div>
                        <span>Nhân bản</span>
                    </div>
                </button>
                <button class="edit toolbar-item" disabled>
                    <div class="icon-edit icons"></div>
                    <div>
                        <span>Sửa</span>
                    </div>
                </button>
                <button class="delete toolbar-item" disabled>
                    <div class="icon-delete icons"></div>
                    <div>
                        <span>Xóa</span>
                    </div>
                </button>
                <button class="loaded toolbar-item">
                    <div class="icon-loaded icons"></div>
                    <div>
                        <span>Nạp</span>
                    </div>
                </button>
                <div class="sperator"></div>
                <button class="import">
                    <div class="icon-import icons"></div>
                    <div>
                        <span>Nhập khẩu</span>
                    </div>
                </button>
                <button class="export">
                    <div class="icon-export icons"></div>
                    <div>
                        <span>Xuất khẩu</span>
                    </div>
                </button>
                <div class="sperator"></div>
                <button class="include">
                    <div class="icon-include icons"></div>
                    <div>
                        <span>Gộp khách hàng</span>
                    </div>
                </button>
                <div class="sperator"></div>
                <button class="support">
                    <div class="icon-support icons"></div>
                    <div>
                        <span>Giúp</span>
                    </div>
                </button>
            </div>
            <div class="contain-table">
                <table class="main-table">
                    <thead>
                        <tr>
                            <th class="table-th-normal" fieldName="RefNo">
                                <div class="table-up">
                                    Mã khách hàng
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-large" fieldName="Name">
                                <div class="table-up">
                                    Tên khách hàng
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="NameCompany">
                                <div class="table-up">
                                    Tên công ty
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-small" fieldName="RefTax">
                                <div class="table-up">
                                    Mã số thuế
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left-small">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-large" fieldName="Address">
                                <div class="table-up">
                                    Địa chỉ
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-small" fieldName="PhoneNb">
                                <div class="table-up">
                                    Số điện thoại
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left-small">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="Email">
                                <div class="table-up">
                                    Email
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-large" fieldName="RefType">
                                <div class="table-up">
                                    Mã thẻ thành viên
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="Rank">
                                <div class="table-up">
                                    Hạng thẻ
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="Debt">
                                <div class="table-up">
                                    Số tiền nợ
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="Note">
                                <div class="table-up">
                                    Ghi chú
                                </div>
                                <div class="table-symbol-wrap">
                                    <div class="wrap-left">*</div>
                                    <div class="wrap-right"><input /></div>
                                </div>
                            </th>
                            <th class="table-th-large" fieldName="MembF">
                                <div class="table-up">
                                    Thành viên 5Food
                                </div>
                                <div class="table-symbol-wrap">
                                    <select>
                                        <option></option>
                                        <option>Có</option>
                                        <option>Không</option>
                                    </select>
                                </div>
                            </th>
                            <th class="table-th-normal" fieldName="Status">
                                <div class="table-up">
                                    Ngừng theo dõi
                                </div>
                                <div class="table-symbol-wrap">
                                    <select>
                                        <option></option>
                                        <option>Có</option>
                                        <option selected="selected">Không</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="footer">
                <button class="first">
                    <div class="page page-first"></div>
                </button>
                <button class="prev">
                    <div class="page page-prev"></div>
                </button>
                <div class="sperator"></div>
                <span>Trang</span>
                <input type="text" value="1" class="page-index" />
                <span>trên</span>
                <span class="sumPage">1</span>
                <div class="sperator"></div>
                <button class="next">
                    <div class="page page-next"></div>
                </button>
                <button class="last">
                    <div class="page page-last"></div>
                </button>
                <div class="sperator"></div>
                <button class="refh">
                    <div class="page refresh"></div>
                </button>
                <div class="sperator"></div>
                <select class="page-size">
                    <option>15</option>
                    <option selected="selected">25</option>
                    <option>50</option>                   
                </select>
                <div class="nd">
                    <span>Hiển thị 1-19 trên 19 kết quả</span>
                </div>
            </div>

            <div id="dialog" title="khách hàng">
                <div class="dialog-input-data">
                    <div class="dialog-wrap-item">
                        <div class="wrap-item-left">
                            <span>Mã khách hàng (*)</span>
                            <input property="RefNo" type="text" />
                            <div class="error errRefNo"></div>
                        </div>
                        <div class="wrap-item-right">
                            <span class="span-right2">Tên khách hàng (*)</span>
                            <input property="Name" />
                            <div class="error errName"></div>
                        </div>
                    </div>
                    <div class="dialog-wrap-item">
                        <span>Nhóm khách hàng</span>
                        <input property="GrupCus" />
                    </div>
                    <div class="dialog-wrap-item">
                        <span>ĐT di động (*)</span>
                        <input property="PhoneNb" />
                        <div class="error errPhoneNb"></div>
                        <div class="notification">
                            <div class="error noti-err"></div>
                            <span>Số điện thoại không hợp lệ</span>
                        </div>
                    </div>
                    <div class="dialog-wrap-item">
                        <span>Ngày sinh</span>
                        <input class="birthday-input" property="BirthDay" placeholder="MM/DD/YYYY" />
                        <div class="date date-picker"></div>
                        <div class="error BirthDay"></div>
                    </div>
                    <div class="dialog-wrap-item">
                        <span>Tên công ty</span>
                        <input class="input-size" property="NameCompany" />
                    </div>
                    <div class="dialog-wrap-item">
                        <div class="wrap-item-left">
                            <span>Mã số thuế</span>
                            <input property="RefTax" />
                        </div>
                        <div class="wrap-item-right">
                            <span class="span-right">Email</span>
                            <input property="Email" />
                        </div>
                    </div>
                    <div class="dialog-wrap-item">
                        <span>Địa chỉ</span>
                        <input class="input-size" property="Address" />
                    </div>
                    <div class="dialog-wrap-item">
                        <span>Ghi chú</span>
                        <input class="input-size input-gc" property="Note" />
                    </div>
                </div>
                <div class="dialog-toolbar">
                    <div class="dialog-toolbar-left">
                        <button class="help">
                            <div class="icon icon-1"></div>
                            <div class="dialog-title">Giúp</div>
                        </button>
                    </div>
                    <div class="dialog-toolbar-right">
                        <button class="save">
                            <div class="icon icon-2"></div>
                            <div class="dialog-title">Cất</div>
                        </button>
                        <button class="save-add">
                            <div class="icon icon-3"></div>
                            <div class="dialog-title">Cất & Thêm</div>
                        </button>
                        <button class="cancel">
                            <div class="icon icon-4"></div>
                            <div class="dialog-title">Hủy bỏ</div>
                        </button>
                    </div>
                </div>
            </div>
            <div id="dialogDelete" title="CUKCUK-Quản lý nhà hàng">
                <div class="dialogDelete-up">
                    <div class="help-icon"></div>
                    <span class="dialogDelete-Title"></span>
                </div>
                <div class="dialogDelete-down">
                    <button class="yes">Có</button>
                    <button class="no">Không</button>
                </div>

            </div>
            <div id="dialogCancel" title="CUKCUK-Quản lý nhà hàng">
                <div class="dialogDelete-up">
                    <div class="help-icon"></div>
                    <span class="dialogCancelTile">Dữ liệu đã thay đổi, bạn có muốn cất không ?</span>
                </div>
                <div class="dialogDelete-down">
                    <button class="yes">Có</button>
                    <button class="no">Không</button>
                    <button class="cancel2">Hủy bỏ</button>
                </div>

            </div>

        </div>
        <div id="loaddata"></div>
    </div>

    <script src="../Scripts/libraries/jquery-3.4.1.js"></script>
    <script src="../Scripts/libraries/jquery-1.12.4.js"></script>
    <script src="../Scripts/libraries/jquery-ui.js"></script>
    <script src="../Scripts/common/common.js"></script>
    <script src="../Scripts/common/base.js"></script>
    <script src="../Scripts/views/receipt.js"></script>
</body>
</html> 