.header-left
{
    
}
.header-right
{
    
    display:flex;
    position:absolute;
    right:0px;
}
.header-left-select {
    color: #fff;
    background-color: #145c79;
    width: 200px;
    height: 32px;
    padding: 6px 7px 6px 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
}
.header-right-select {
    color: #fff;
    font-size:12px;
    background-color: #145c79;
    width: 170px;
    height: 32px;
    padding: 6px 7px 6px 7px;
    border-radius: 5px;
    border: none;
    outline: none;   
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.header-right .icon-web {
    margin: 14px 0px 0px 10px;
    width: 24px;
    height: 24px;
    background: url(../Contents/icons/earth.png) no-repeat center;
    background-size: 135px;
    background-position: -30px -6px;
    border-radius: 20px;
    cursor: pointer;
}
.header-right .call {
    background: url('../Contents/icons/ic_support.svg') no-repeat center;
    width: 65px;
    height: 55px;
    cursor: pointer;
}
.header-right .admin {
    margin:12px 10px 0px 10px;
    background: url('../Contents/icons/Image (1).jpg') no-repeat center;
    width: 28px;
    height: 28px;
    background-size: 28px;
    border-radius: 13px;
}
.header-right .arrow-down {
    background: url('../Contents/icons/default-small-arrow.png') no-repeat center;
    margin-top:19px;
    margin-right:5px;
    width:25px;
    height:16px;
    cursor:pointer;
    
}
.header-right span {
    color: #fff;
    line-height: 52px;
}
.div-span
{
    width:85px;
}